@page "/"

@inject IBookService BookService

       

<h1>Books</h1>

<p> Esto es para mostrar mensaje.</p>
@Mensaje

<div><!--<i> hace referencia a cursivas-->
    <a href="/BookDetails"> <i>Agregar nuevo libro</i> </a> 
</div>

@if (books == null)
{
    <p> <em>Cargando...</em></p>
}
else
{
    <table align="left">
        <thead width="60%" >
            <tr>
                <th width="50%" height="50%">Titulo</th>
                <th width="40%" >Autor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in books)
            {
                <tr width="50%">
                    <td>@book.Title</td>
                    <td width="40%">@book.Autor</td>
                    <td><a href="/bookDetails/@book.BookId"><i>Edit</i></a></td>
                    <td><a href="/BookDelete/@book.BookId"><i>Delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
}







@code
{
    public IEnumerable<Book> books { get; set; }
    public string Mensaje { get; set; }





    protected override async Task OnInitializedAsync()
    {
        try
        {
            books = await BookService.GetAllBook();
        }
        catch (Exception e)
        {

            Mensaje = e.Message;
        }

    }

}
