@page "/bookDetails"
@inject IBookService BookService

<h1>Book Details</h1>

<EditForm Model="@Book">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="Book.Title" /></td>
        </tr>
        
        <tr>
            <td>Author:</td>
            <td><input class="form-control col-sm-4" type"="text" @bind"book.Author" /> </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveBook"/> 
                <input type="button" Value="Cancel" @onclick"Cancelar"/>
            </td>
        </tr>

    </table>
</EditForm>

@code {

    private Book Book = new Book();


    

    protected async Task SaveBook()
    {
        await BookService.SaveBook(Book);

    }
}
